/*App CSS*/
.app-color{
    background-color: #F5F5F5;
}
.home-margin{
    margin:0;
}
.app-font, .app-font input{
    font-family: 'Vollkorn SC', serif;
}
.heading-color{
    color:#224B5B;
}
.text-center{
    text-align: center;
}
.color-white{
    color:#fff;
}
.color-black{
    color:#000000;
}
.image-logo{
    margin-top: 50px;
}
.width-full{
    width: 100%;
}
.login-box {
    width: 50%;
}
.inline-flex{
    display: inline-flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.text-box input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 10px;
    margin-right: 8px;
    color: #444;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.login-button input{
    background-color: #1ea9b5;
    color:white;
}
.sign-notamember{
    font-size: 20px;
    color:#999
}
.sign-notamember a{
    color:#999;
}

/*HomePage CSS*/
.header-login{
    justify-content: flex-end;
}
.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 800px 100px;
}
.login-button-header input{
    background-color: #0f9ba8;
    color: white !important;
}
.text-box-header input{
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 10px;
    margin-right: 10px;
    color: #444;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.width-30{
    width:30%;
}
.width-70{
    width:70%;
}
header {
    background-color: #1ea9b5;
    grid-column: span 10;
}
aside {
    grid-column: span 5;
    background-color: #F5F5F5;
}
main {
    grid-column: span 5;
    background-color: #F5F5F5;
}
footer {
    grid-column: span 10;
    background-color: #1ea9b5;
}
.register-now{
    height: 80px;
    font-size: 50px;
    margin-top: 50px;
}

.swimlane {
    border: black solid 2px;
    padding: 10px;
    display: inline-block;
    width: 200px;
    height: 500px;
}

.swimlane-title {
    font-weight: bold;
}

.create-card {
    border: black solid 2px;
    padding: 10px;
    display: inline-block;
}